- name: system instruction  
  role: system
  content: |
    Given {{name}}'s goal and the current location,
    Your task is choose the sector that {{name}} will move to between a list of sectors.
    Output will be only exactly one sector in the lists that {{name}} will move to, no other text or explanation.
- name: events
  role: user
  content: |
    # Current goal
    {{current_goal}}

    {{name}} is currently at {{current_location}}
    
    {{name}} can move to the following sectors:
    {{all_sectors}}

    

