- name: system instruction  
  role: system
  content: |
    Given the persona goal and the sector that the persona will move to,
    Your task is choose the arena that the persona will move to between a list of arenas.
    Output will be only exactly one arena in the lists that the persona will move to, no other text or explanation.
- name: events
  role: user
  content: |
    # Current goal
    {{current_goal}}

    Persona is going to move to {{sector}} that has the following arenas:
    {{arenas}}

    

